<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="structured-fields">
  <description>Default PHP CodeSniffer configuration for gapple/phpcs-php8-stdclass.</description>

  <file>src</file>

  <rule ref="PSR12"/>
</ruleset>
